<main class="p-4 m-4 bg-gray-200 rounded-lg">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="flex lg:flex-row p-2 lg:p-4 justify-center items-start lg:items-stretch w-full">
                    <app-search-and-advanced-search-form [searchInput]="searchInput" (onSearch)="onSearch($event)"></app-search-and-advanced-search-form>
                </div>
                
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="mat-tab-group-mobile-scroll" (selectedTabChange)="tabChanged($event.index)" [(selectedIndex)]="tabIndex">
        <mat-tab id="pendingTask" label="Pending Tasks">
            <app-pending-tasks-tab [accordionData]="initialData!" [refData]="refData"></app-pending-tasks-tab>
        </mat-tab>
        <mat-tab id="completedTask" label="Completed Tasks">
            <app-completed-tasks-tab [accordionData]="initialData!" [refData]="refData"></app-completed-tasks-tab>
        </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <app-page-navigation-buttons [navigations]="navigations"></app-page-navigation-buttons>
</main>
