<div class="bg-white p-3 shadow-lg rounded-sm" *ngIf="documents && documents.length >0">
    <div *ngIf="showHeading" class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
        <span clas="text-green-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                </svg>
        </span>
        <span class="tracking-wide">{{documentHeading}}</span>
    </div>
    <div class="text-gray-700">
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
                <li *ngFor="let document of documents" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                    <div class="w-0 flex-1 flex items-center">
                        <!-- Heroicon name: solid/paper-clip *ngFor="let document of eventData.documents; let i=index"-->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                        {{document.originalFileName}}
                        </span>
                    </div>
                    <!--    -->
                    <div class="ml-4 flex-shrink-0">
                        <a *ngIf="canViewAttachment" (click)="viewAttachment(document)" class="font-medium text-green-600 hover:text-green-500">
                            View
                        </a>
                        <a *ngIf="canViewAttachment" (click)="downloadAttachment(document)" class="ml-4 font-medium text-indigo-600 hover:text-indigo-500">
                            Download
                        </a>
                        <a *ngIf="canDeleteAttachment && documents.length > 1 && !document.generatedDoc" (click)="deleteAttachment(document)" class="ml-4 font-medium text-red-600 hover:text-red-500">
                            Delete
                        </a>
                    </div>
                </li>
            </ul>
        </dd>
    </div>
</div>