<main class="p-4 m-4 bg-gray-200 rounded-lg">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="flex lg:flex-row p-2 lg:p-4 justify-center items-start lg:items-stretch w-full">
                    <app-search-and-advanced-search-form
                        [searchInput]="searchInput"></app-search-and-advanced-search-form>
                </div>
                <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="tabChanged($event.index)" [(selectedIndex)]="tabIndex">
                    <mat-tab id="selfDonationTab" label="My Donations" (click)="tabChanged(tabIndex)">
                        <h2 class="text-purple-700 font-bold text-center mt-4 pt-4">Outstanding Donations</h2>
                        <mat-card class="mb-4" *ngIf="mySummary">
                            <div class="text-gray-700 m-4">
                                <div class="grid md:grid-cols-2 text-sm">
                                    <div class="grid grid-cols-2">
                                        <div class="py-2 font-semibold">Outstanding amount</div>
                                        <div class="py-2"> ₹ {{mySummary.outstandingAmount}}</div>
                                    </div>
                                    <div class="grid grid-cols-2">
                                        <div class="py-2 font-semibold">Outstanding month(s)</div>
                                        <div class="py-2">
                                            <span>
                                               {{ mySummary.outstandingMonths?.length ==0 ? '-' : mySummary.outstandingMonths?.join(', ') | replaceNull }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="mb-4" *ngIf="mySummary?.hasOutstanding">
                            <div class="text-gray-700 m-4">
                                <div class="grid grid-cols-1">
                                    <div class="py-2 text-center justify-center font-bold text-purple-700">Please pay your outstanding donation amount to the below account(s)</div>

                                    <div class="grid divide-x-4 mt-4" *ngFor="let account of payableAccounts" [ngClass]="true ? 'grid-cols-12' : 'grid-cols-6'">
                                        <div class="col-span-6" *ngIf="true">
                                            <div class="flex items-center justify-center space-x-2 font-semibold text-gray-900 leading-8">
                                                <span clas="text-green-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                        d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                                    </svg>
                                                </span>
                                                <span class="tracking-wide">Banking Details</span>
                                            </div>
                                            <div class="text-gray-700 mt-2">
                                                <div class="grid md:grid-cols-2 text-sm mx-4">
                                                    <div class="grid grid-cols-2">
                                                        <div class="px-2 py-2 font-semibold">Bank name</div>
                                                        <div class="px-2 py-2">{{account.bankDetail?.bankName | replaceNull}}</div>
                                                    </div>
                                                    <div class="grid grid-cols-2">
                                                        <div class="px-2 py-2 font-semibold">Branch name</div>
                                                        <div class="px-2 py-2">{{account.bankDetail?.bankBranch | replaceNull}}</div>
                                                    </div>
                                                    <div class="grid grid-cols-2">
                                                        <div class="px-2 py-2 font-semibold">IFSC number</div>
                                                        <div class="px-2 py-2">{{account.bankDetail?.IFSCNumber | replaceNull}}</div>
                                                    </div>
                                                    <div class="grid grid-cols-2">
                                                        <div class="px-2 py-2 font-semibold">Account holder name</div>
                                                        <div class="px-2 py-2">{{account.bankDetail?.bankAccountHolderName | replaceNull}}</div>
                                                    </div>
                                                    <div class="grid grid-cols-2">
                                                        <div class="px-2 py-2 font-semibold">Account number</div>
                                                        <div class="px-2 py-2">{{account.bankDetail?.bankAccountNumber | replaceNull}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-6" *ngIf="true">
                                            <div class="flex items-center justify-center space-x-2 font-semibold text-gray-900 leading-8">
                                                <span clas="text-green-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                        d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                                    </svg>
                                                </span>
                                                <span class="tracking-wide">UPI Details</span>
                                            </div>
                                            <div class="text-gray-700 mt-2">
                                                <div class="grid md:grid-cols-2 text-sm mx-4">
                                                    <div class="grid grid-cols-1">
                                                        <div class="grid grid-cols-2">
                                                            <div class="px-2 py-2 font-semibold">UPI mobile number</div>
                                                            <div class="px-2 py-2">{{account.upiDetail?.mobileNumber | replaceNull}}</div>
                                                        </div>
                                                        <div class="grid grid-cols-2">
                                                            <div class="px-2 py-2 font-semibold">Payee name</div>
                                                            <div class="px-2 py-2">{{account.upiDetail?.payeeName | replaceNull}}</div>
                                                        </div>

                                                        <div class="grid grid-cols-2">
                                                            <div class="px-2 py-2 font-semibold">UPI id</div>
                                                            <div class="px-2 py-2">{{account.upiDetail?.upiId | replaceNull}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="grid grid-cols-1">
                                                        <div class="grid grid-cols-2">
                                                            <div class="px-2 py-2 font-semibold">QR code</div>
                                                            <div class="qrcodeImage px-2 py-2">
                                                                <qrcode [qrdata]="account.upiDetail?.qrData!" [cssClass]="'center'" [colorDark]="'#000000'" [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [imageSrc]="'./assets/logo.png'" [imageHeight]="40" [imageWidth]="40" [margin]="4"
                                                                    [scale]="1" [width]="110"></qrcode>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <h2 class="text-purple-700 font-bold text-center mt-4">My Donation List</h2>
                        <app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
                            (onAccordionOpen)="onAccordionOpen($event)"></app-accordion-list>
                    </mat-tab>
                    <mat-tab id="guestDonationTab" label="Guest Donations" (click)="tabChanged(tabIndex)" [disabled]="false">
                        <div class="flex justify-end mx-4 my-2">
                            <div class="mx-1 px-2">
                                <button (click)="showCreateForm()" class="bg-indigo-600 py-3 px-6 w-full text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">Add Guest Donation</button>
                            </div>
                        </div>
                        <h2 class="text-purple-700 font-bold text-center mt-4">Guest Donation List</h2>
                        <app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
                            (onAccordionOpen)="onAccordionOpen($event)"></app-accordion-list>
                    </mat-tab>
                    <mat-tab id="memberDonationTab" label="Member Donations" (click)="tabChanged(tabIndex)" [disabled]="false">
                        <app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
                        (onAccordionOpen)="onAccordionOpen($event)"></app-accordion-list>                    </mat-tab>
                </mat-tab-group>
                <mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent($event)" [length]="itemLength$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNumber" aria-label="Select page">
                </mat-paginator> -->

                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="mat-tab-group-mobile-scroll"
                    (selectedTabChange)="tabChanged($event.index)" [(selectedIndex)]="tabIndex">
                    <mat-tab id="selfDonationTab" label="My Donations">
                        <app-self-donation-tab [accordionData]="initialData!"
                            [refData]="refData"></app-self-donation-tab>
                    </mat-tab>
                    <mat-tab id="guestDonationTab" label="Guest Donations">
                        <app-guest-donation-tab [accordionData]="initialData!"
                            [refData]="refData"></app-guest-donation-tab>
                    </mat-tab>
                    <mat-tab id="memberDonationTab" label="Member Donations">
                        <app-member-donation-tab [accordionData]="initialData!"
                            [refData]="refData"></app-member-donation-tab>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <button id="back"
        class="block uppercase w-full text-blue-800 text-sm font-semibold rounded-lg hover:bg-gray-300 focus:outline-none focus:shadow-outline focus:bg-gray-300 hover:shadow-xs p-3 my-4">
        BACK TO DASHBOARD</button>
</main>