<mat-accordion class="mat-table" multi>
    <section class="mat-expansion-panel-header bg-white rounded" *ngIf="accordionList.headers">
        <div class="mat-content mx-1">
            <div class="mat-expansion-panel-header-description">
                <div class="grid grid-cols-{{accordionList.headers.length}} gap-10 w-full text-center">
                    <div *ngFor="let header of accordionList.headers;let i=index;" class="col-span-1">
                        <span class="px-2 py-1 inline-flex leading-5 font-bold {{header.rounded ? 'rounded-full': ''}} {{header.bgColor ? header.bgColor :'bg-purple-100'}} {{header.textColor ? header.textColor:'text-gray-900'}} uppercase">
                           {{header.value}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

    <mat-expansion-panel *ngFor="let content of accordionList.contents;let i=index;" (opened)="onAccordionOpen.emit({rowIndex:i})">
        <mat-expansion-panel-header>
            <mat-panel-description>
                <div class="grid grid-cols-{{content.columns.length}} gap-10 w-full text-center">
                    <div *ngFor="let item of content.columns;" class="col-span-1">
                        <span class="px-2 py-1 inline-flex leading-5 font-medium {{item.rounded ? 'rounded-full': ''}} {{item.bgColor ? item.bgColor :''}} {{item.textColor ? item.textColor:'text-gray-900'}} uppercase ">
                           {{item.value | replaceNull}}
                        </span>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-detailed-view [detailedViews]="content.detailed"></app-detailed-view>
        <mat-action-row>
            <div class="mx-4">
                <button mat-button *ngFor="let button of content.buttons" [id]="button.button_id+i" class="text-green-600" (click)="onButtonClick.emit({buttonId:button.button_id,rowIndex:i})">{{button.button_name}}</button>
            </div>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-card class="border-2" *ngIf="accordionList && (accordionList.contents == undefined || accordionList.contents.length == 0)">
        <div class="m-2 p-2 text-center">No records found.</div>
    </mat-card>
</mat-accordion>