<app-header></app-header>
<app-page-title></app-page-title>
<router-outlet></router-outlet>
<app-footer></app-footer>
<ng-http-loader [backgroundColor]="httpLoaderConfig.backgroundColor" [debounceDelay]="httpLoaderConfig.debounceDelay" [extraDuration]="httpLoaderConfig.extraDuration" [minDuration]="httpLoaderConfig.minDuration" [backdropBackgroundColor]="httpLoaderConfig.backdropBackgroundColor"
    [entryComponent]="httpLoaderConfig.entryComponent" [opacity]="httpLoaderConfig.opacity" [filteredUrlPatterns]="httpLoaderConfig.filteredUrlPatterns"></ng-http-loader>