<main class="p-4 m-4 bg-gray-200 rounded-lg">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <mat-card class="m-4 p-4">
                    <h2 class="text-purple-700 font-bold text-center">Important links</h2>
                    <div class="text-gray-700">
                        <div class="grid text-sm">
                            <div class="grid grid-cols-1 sm:grid-cols-8 gap-2 items-center border-b border-gray-300 py-2"
                                *ngFor="let data of appLinks">
                                <div class="font-semibold sm:col-span-1">{{data.key}}</div>
                                <div class="sm:col-span-6">{{data.description}}</div>
                                <div class="text-center sm:col-span-1 mt-2 sm:mt-0">
                                    <a class="text-blue-700 break-all" [href]="data.displayValue" target="_blank">Click
                                        here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center"
                    (selectedTabChange)="tabChanged($event.index)" [(selectedIndex)]="tabIndex">
                    <mat-tab id="apiKey" label="Manage API keys">
                        <app-admin-apikey-tab [accordionData]="initialData" [refData]="refData"></app-admin-apikey-tab>
                    </mat-tab>
                    <mat-tab id="oauthToken" label="Manage OAuth Tokens">
                        <app-admin-oauth-tab [accordionData]="initialData" [refData]="refData"></app-admin-oauth-tab>
                    </mat-tab>
                    <mat-tab id="tasks" label="Automatic Tasks">
                        <app-admin-tasks-tab [accordionData]="initialData" [refData]="refData"></app-admin-tasks-tab>
                    </mat-tab>
                    <!-- <mat-tab id="config" label="Manage Global Config">
                        <app-admin-global-config-tab [initialData]="initialData"
                            [refData]="refData"></app-admin-global-config-tab>
                    </mat-tab>
                    <mat-tab id="backgroundJobs" label="Manage background jobs">
                        <app-admin-bg-jobs-tab [initialData]="initialData" [refData]="refData"></app-admin-bg-jobs-tab>
                    </mat-tab> -->
                </mat-tab-group>
            </div>
        </div>
    </div>
    <app-page-navigation-buttons [navigations]="navigations"></app-page-navigation-buttons>
</main>