<app-page-layout [navigations]="navigations">
    <div class="flex lg:flex-row p-2 lg:p-4 justify-center items-start lg:items-stretch w-full">
        <app-search-and-advanced-search-form [searchInput]="searchInput" (onSearch)="onSearch($event)"></app-search-and-advanced-search-form>
    </div>
    
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="mat-tab-group-mobile-scroll" (selectedTabChange)="tabChanged($event.index)"
        [(selectedIndex)]="tabIndex">
        <mat-tab id="myExpense" label="My Expense">
            <app-my-expenses-tab [accordionData]="initialData!" [refData]="refData!"></app-my-expenses-tab>
        </mat-tab>
        <mat-tab id="expenses" label="Manage Expenses">
            <app-manage-expense-tab [accordionData]="initialData!" [refData]="refData!"></app-manage-expense-tab>
        </mat-tab>
    </mat-tab-group>
</app-page-layout>