<div class="documents-page">
  <mat-accordion class="category-accordion" multi="true">
    <mat-expansion-panel *ngFor="let category of categories" [expanded]="category.isExpanded ?? expandedByDefault"
      (opened)="onCategoryOpen(category)" class="category-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="category-title">
          {{ category.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <p *ngIf="category.description" class="category-description">
          {{ category.description }}
        </p>
        <div *ngIf="category.isLoading" class="loading-container">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>

        <div *ngIf="!category.isLoading">
          <ul class="documents-list">
            <li *ngFor="let doc of category.documents" class="document-item">
              <a href="javascript:void(0)" (click)="onDocumentClick(doc, category.name)" class="document-link"
                [title]="'Open ' + (doc.description || '')">
                {{ doc.description || doc.key }}
              </a>
            </li>
          </ul>

          <div *ngIf="(category.totalElements || category.documents.length) > pageSize" class="pagination-controls">
            <button mat-icon-button [disabled]="(currentPageMap[category.name] || 0) === 0"
              (click)="onPageChange(category, (currentPageMap[category.name] || 0) - 1)">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="page-info">
              {{ (currentPageMap[category.name] || 0) + 1 }} of {{ getTotalPages(category) }}
            </span>
            <button mat-icon-button [disabled]="(currentPageMap[category.name] || 0) >= getTotalPages(category) - 1"
              (click)="onPageChange(category, (currentPageMap[category.name] || 0) + 1)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>