<app-floating-action-button *ngIf="profile && permissions?.canCreateDonation" [icon]="'add'"
    (buttonClick)="initCreateDonationForm(false)"></app-floating-action-button>
<div class="mb-4 flex justify-end relative z-10">
    <button mat-button color="primary" (click)="loadData()">
        <mat-icon>settings_backup_restore</mat-icon>
        Change Member
    </button>
</div>
<app-detailed-view [detailedViews]="detailedViews" [refData]="getRefData()!"></app-detailed-view>
<mat-card class="mb-4" *ngIf="summary &&summary.hasOutstanding">
    <div class="text-gray-700 m-4">
        <div class="grid md:grid-cols-2 text-sm">
            <div class="grid grid-cols-2">
                <div class="py-2 font-semibold">Outstanding amount</div>
                <div class="py-2"> ₹ {{summary.outstandingAmount}}</div>
            </div>
            <div class="grid grid-cols-2">
                <div class="py-2 font-semibold">Outstanding month(s)</div>
                <div class="py-2">
                    <span>
                        {{ summary.outstandingMonths.length ==0 ? '-' :
                        summary.outstandingMonths.join(', ') | replaceNull }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</mat-card>


<app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
    (onAccordionOpen)="onAccordionOpen($event)" (onSelectionChange)="onSelectionChange($event)">

    <div bulkActions>
        <button mat-raised-button color="primary" (click)="bulkUpdate()" style="border-radius: var(--radius-lg);">
            <mat-icon class="mr-2">done_all</mat-icon>
            Bulk Update
        </button>
    </div>
</app-accordion-list>
<mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent($event)"
    [length]="itemLength$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNumber"
    aria-label="Select page">
</mat-paginator>