
    









<div class="flex flex-col flex-1 w-full overflow-y-auto">
    <main class="p-4 m-4 bg-gray-100 rounded-lg">
        <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">{{isUpdate?'Update Notice':'Create Notice'}}</h3>
                        <p class="mt-1 text-sm text-gray-600">
                            <b>NOTE :</b> Fields marked with <span class="text-blue-600">* </span> are mandatory.
                        </p>
                    </div>
                </div>
                <div class="mt-5 md:mt-0 md:col-span-2">
                    <form [formGroup]="noticeForm">
                        <div class="shadow overflow-hidden sm:rounded-md">
                            <div class="px-4 py-5 bg-white sm:p-6">
                                <div class="grid grid-cols-6 gap-6">
                                    <div class="col-span-6 sm:col-span-6">
                                        <app-universal-input formControlName="title" [inputModel]="{
                                            inputType:'text',
                                            tagName:'input',
                                            labelName:'Notice Title',
                                            cssClass:'dense-3 w-full',
                                            
                                           }"></app-universal-input>
                                    </div>
                                    <div class="col-span-6 sm:col-span-6">
                                        <app-universal-input formControlName="description" [inputModel]="{
                                            inputType:'editor',
                                            tagName:'input',
                                            labelName:'Notice Description',
                                            cssClass:'',
                                            
                                           }"></app-universal-input>
                                    </div>

                                 
                                </div>
                            </div>
                            
                            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6 flex justify-between">
                                <!-- <div class="flex justify-start px-2">
                                    <button (click)="discardDraft()" *ngIf="isDraft" type="button" matToolTip="Discard draft" class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Discard draft
                                    </button>
                                </div>
                                <div class="flex justify-end px-2">
                                    <button (click)="saveAsDraftNotice()" type="button" *ngIf="!isUpdate" matToolTip=" Save as draft" class="bg-white py-2 mx-1 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Save as draft
                                    </button>
                                    <button (click)="publishNotice()" type="button" *ngIf="!isUpdate" class="inline-flex justify-center py-2 mx-1 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center">
                                        Publish
                                    </button>
                                </div>
                                <button (click)="updateNotice()" type="button" *ngIf="isUpdate" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Update
                                </button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <button [routerLink]="[appRoutes.noticeBoard.url]" class="block uppercase w-full text-blue-800 text-sm font-semibold rounded-lg hover:bg-gray-300 focus:outline-none focus:shadow-outline focus:bg-gray-300 hover:shadow-xs p-3 my-4">
            BACK TO NOTICES</button> -->
    </main>
</div>