<app-floating-action-button [icon]="'add'" (buttonClick)="createExpenseAdmin()"></app-floating-action-button>
<!-- <h2 class="text-purple-700 font-bold text-center mt-4">Expense List</h2> -->
<div class="mb-4 flex justify-end relative z-10">
    <button mat-button color="primary" (click)="selectProject()">
        <mat-icon>filter_alt</mat-icon>
        Filter by Project & Activity
    </button>
</div>
<app-detailed-view [detailedViews]="detailedViews" [refData]="getRefData()!"></app-detailed-view>

<app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
    (onAccordionOpen)="onAccordionOpen($event)"></app-accordion-list>
<mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent($event)"
    [length]="itemLength$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNumber"
    aria-label="Select page">
</mat-paginator>