<div class="container-fluid p-0">
    <div class="row">
        <div class="col">
            <app-floating-action-button [icon]="'add'" (buttonClick)="initCreateMeetingForm()"></app-floating-action-button>
            <app-accordion-list [accordionList]="getAccordionList()" (onButtonClick)="onClick($event)"
                (onAccordionOpen)="onAccordionOpen($event)">
            </app-accordion-list>
            <mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent($event)"
                [length]="itemLength$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageNumber"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>
