<app-page-layout [navigations]="navigations">
    <div class="flex lg:flex-row p-2 lg:p-4 justify-center items-start lg:items-stretch w-full">
        <app-search-and-advanced-search-form [searchInput]="searchInput" (onSearch)="onSearch($event)"></app-search-and-advanced-search-form>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="tabChanged($event.index)"
        [(selectedIndex)]="tabIndex">
        <mat-tab id="allAccount" label="Manage Accounts" [disabled]="!permissions.canCreateAccount">
            <app-manage-accounts-tab [accordionData]="accountList"></app-manage-accounts-tab>
        </mat-tab>
        <mat-tab id="expenses" label="Manage Expenses">
            <app-manage-expense-tab [accordionData]="expenseList"></app-manage-expense-tab>
        </mat-tab>
    </mat-tab-group>
</app-page-layout>