<div x-data="{ open: false }" class="flex items-center p-6 bg-white rounded-xl shadow-lg hover:shadow-xl ">
    <!-- transform hover:scale-105 transition duration-500 -->
    <div *ngIf="!search.showOnlyAdvancedSearch && !adv_search"
        class="flex flex-wrap sm:flex-nowrap bg-gray-100 p-4 w-full space-y-4 sm:space-y-0 sm:space-x-4 rounded-lg">

        <!-- Search Input Field -->
        <div class="relative w-full sm:w-auto">
            <input type="text" id="simple-search" (keyup)="normalSearch($event)"
                class="border border-gray-300 w-full sm:w-96 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-3 ps-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [placeholder]="search.normalSearchPlaceHolder" required>
        </div>

        <!-- Advanced Search Button -->
        <button (click)="clickAdvSearchBtn()"
            class="bg-indigo-600 py-3 px-5 w-full sm:w-auto text-white font-semibold rounded-lg hover:shadow-lg transition duration-300 cursor-pointer">
            {{search.normalSearchButtonText ? search.normalSearchButtonText : 'Advanced Search'}} 
        </button>
    </div>

    <div *ngIf="search.showOnlyAdvancedSearch || adv_search"
        class="flex flex-col bg-gray-100 p-4 w-full rounded-lg">
        <div class="text-lg font-medium leading-6 mb-4 text-center text-gray-900">{{search.advancedSearch?.title ? search.advancedSearch?.title :'Advanced Search'}}</div>
        <form [formGroup]="searchformGroup">
            <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-4 bg-white">
                <div class="grid gap-6"
                [ngClass]="{
                    'grid-cols-1': true,
                    'sm:grid-cols-2': search.advancedSearch?.searchFormFields?.length! > 1,
                    'lg:grid-cols-3': search.advancedSearch?.searchFormFields?.length! > 2
                }">
                <div class="col-span-6"
                    [ngClass]="search.advancedSearch?.searchFormFields?.length! > 2 ? 'sm:col-span-2 lg:col-span-1' : 'sm:col-span-3 lg:col-span-1'"
                    *ngFor="let input of search.advancedSearch?.searchFormFields">
                    <app-universal-input *ngIf="!input.hidden" [formControlName]="input.formControlName"
                    [inputModel]="input.inputModel"></app-universal-input>
                </div>
                </div>
            </div>
            </div>
        </form>


        <div class="pt-4 mt-2 bg-gray-100 text-center sm:px-6 rounded-lg">
            <button (click)="advSearch()" [disabled]="isSearchDisabled"
                class="bg-indigo-600 py-3 px-5 mx-2 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                 {{search.advancedSearch?.buttonText?.search?search.advancedSearch?.buttonText?.search:'Search'}}
            </button>
            <button (click)="advSearchReset()"
                class="bg-white py-3 px-5 mx-1 text-gray-700 border border-gray-300 font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                {{search.advancedSearch?.buttonText?.search?search.advancedSearch?.buttonText?.close:'Close'}}
            </button>
        </div>
    </div>

</div>