<ng-container *ngIf="inputModel.tagName == 'select' && inputModel.inputType == 'multiselect'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ? inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>

    <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance : 'outline'"
        [style]="inputModel.style ? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">

        <mat-select [formControl]="ngControl.control" [placeholder]="inputModel.placeholder!"
            [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''" multiple>

            <mat-option (click)="selectAll($event)" [value]="'all'">
                {{ isAllSelected() ? 'Deselect All' : 'Select All' }}
            </mat-option>

            <mat-option *ngFor="let opt of inputModel.selectList" [value]="opt.key">
                {{opt.displayValue}}
            </mat-option>
        </mat-select>

        <mat-error>{{ errorMessage(ngControl.control.errors, inputModel.labelName)}}</mat-error>
    </mat-form-field>
</ng-container>


<!-- {{inputModel | json}} -->
<ng-container *ngIf="inputModel.tagName == 'select' && inputModel.inputType != 'multiselect'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        <mat-select [formControl]="ngControl.control" [placeholder]="inputModel.placeholder!"
            [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''">
            <mat-option *ngFor="let opt of inputModel.selectList" [value]="opt.key">{{opt.displayValue}}</mat-option>
        </mat-select>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>
</ng-container>


<!-- input other than date-->
<ng-container *ngIf="inputModel.tagName == 'input' && !specialInputTypes.includes(inputModel.inputType)">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">

        <ng-container *ngIf="!inputModel.autocomplete">
            <input matInput *ngIf="inputModel.tagName == 'input'" [type]="inputModel.inputType"
                [id]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
                [placeholder]="inputModel.placeholder!" [formControl]="ngControl.control"
                [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''">
        </ng-container>
        <ng-container *ngIf="inputModel.autocomplete">
            <input matInput *ngIf="inputModel.tagName == 'input'" [type]="inputModel.inputType"
                [id]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
                [placeholder]="inputModel.placeholder!" [formControl]="ngControl.control"
                [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let option of inputModel.selectList! | displayValueFilter:ngControl.control.value"
                    [value]="option.key">{{option.displayValue}}</mat-option>
            </mat-autocomplete>
        </ng-container>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>
</ng-container>


<!-- textarea -->
<ng-container *ngIf="inputModel.tagName == 'textarea'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        <textarea matInput [placeholder]="inputModel.placeholder!" [formControl]="ngControl.control"
            [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''"></textarea>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>
</ng-container>

<!-- input with date  style="width: 212px;"-->
<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'date'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        <input [formControl]="ngControl.control" matInput [matDatepicker]="date" [placeholder]="inputModel.placeholder!"
            [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="date">
        </mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>
</ng-container>


<!-- input with date-->
<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'editor'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <angular-editor [formControl]="ngControl.control" [style]="inputModel.style? inputModel.style : ''"
        [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''" [config]="{
        editable: true,
        spellcheck: true,
        height: '200px', 
        showToolbar: false,
        placeholder: inputModel.placeholder!,
        outline:true,
        sanitize: true
      }"></angular-editor>
    <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>

</ng-container>


<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'radio'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <!-- <mat-form-field class="dense-3 w-full" [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        
    </mat-form-field> -->
    <mat-radio-group
        [id]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        [formControl]="ngControl.control" [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''">
        <mat-radio-button *ngFor="let opt of inputModel.selectList"
            [value]="opt.key">{{opt.displayValue}}</mat-radio-button>
    </mat-radio-group>
    <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>

</ng-container>

<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'time'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" style="width: 212px;"
        [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        <input [ngxMatTimepicker]="pickerA" [format]="inputModel.props!['format']" [formControl]="ngControl.control"
            matInput [placeholder]="inputModel.placeholder!"
            [ngClass]="inputModel.cssInputClass ? inputModel.cssInputClass : ''" readonly />
        <mat-icon matSuffix (click)="pickerA.open()">
            watch_later
        </mat-icon>
        <ngx-mat-timepicker #pickerA dottedMinutesInGap></ngx-mat-timepicker>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>

</ng-container>

<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'phone'">
    <label *ngIf="inputModel.labelName"
        [for]="inputModel.html_id ?inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
        class="block text-sm font-medium text-gray-700 mb-2">{{inputModel.labelName}}</label>
    <mat-form-field class="dense-3 w-full" style="width: 212px;" [style.--ngxMatInputTel-opacity]="'1'"
        [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
        <ngx-mat-input-tel matInput [preferredCountries]="['in']" [enablePlaceholder]="true" [enableSearch]="true"
            [placeholder]="inputModel.placeholder!" [formControl]="ngControl.control"></ngx-mat-input-tel>
        <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
    </mat-form-field>

</ng-container>

<!-- <ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'phone'">
  <label *ngIf="inputModel.labelName"
    [for]="inputModel.html_id ? inputModel.html_id : inputModel.tagName+'_'+inputModel.inputType+'_'+inputModel.labelName"
    class="block text-sm font-medium text-gray-700 mb-2"
    [ngClass]="inputModel.csslabelClass ? inputModel.csslabelClass : ''">
    {{ inputModel.labelName }}
  </label>

  <app-phone-number
    [formControl]="ngControl.control"
    [appearance]="inputModel.appearance ? inputModel.appearance : 'outline'"
    [placeholder]="inputModel.placeholder!"
    [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''"
    [class]="inputModel.cssInputClass!"
    [style]="inputModel.style ? inputModel.style : ''"
    style="width: 100%;">
  </app-phone-number>

  <mat-error *ngIf="ngControl.control.errors">
    {{ errorMessage(ngControl.control.errors, inputModel.labelName) }}
  </mat-error>
</ng-container> -->




<ng-container *ngIf="inputModel.tagName == 'input' && inputModel.inputType == 'check'">
    <!-- <mat-form-field 
        [appearance]="inputModel.appearance ? inputModel.appearance :'outline'"
        [style]="inputModel.style? inputModel.style : ''" [ngClass]="inputModel.cssClass ? inputModel.cssClass : ''">
       
    </mat-form-field> -->
    <mat-checkbox [formControl]="ngControl.control">{{inputModel.labelName}}</mat-checkbox>
    <mat-error>{{ errorMessage(ngControl.control.errors,inputModel.labelName)}}</mat-error>
</ng-container>