<div class="text-gray-600 body-font mx-auto ">
    <div class="text-center">History coming soon</div>
    <!-- <div class="h-64 overflow-y-auto scrollbar-hide shadow-inner" *ngIf="histories && histories.length > 0">
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto" *ngFor="let history of histories;let i=index;">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">{{(histories.length-i)}}</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <div class="font-medium title-font text-gray-900 mb-2 text-xl capitalize-first">{{history.title}}</div>
                    <div class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-2" *ngIf="history.createdBy">By {{history.createdBy}}</div>
                    <p class="leading-relaxed" *ngFor="let changeObj of history.changes" [innerHTML]="changeObj.message!"></p>
                    <div class="tracking-widest text-xs title-font font-medium text-gray-400 mb-2"> On {{history.createdOn| date:'dd MMM yyyy hh:mm:ss aa'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="histories && histories.length === 0">No History Found</div> -->
</div>