<div class="mb-4 flex flex-wrap justify-end gap-2 relative z-10">
    <button mat-button color="secondary" (click)="loadData()">
        <mat-icon>refresh</mat-icon>
        Refresh
    </button>
</div>
<h1 class="text-center mb-2 text-primary-500 py-2">User FCM Tokens
</h1>
<app-accordion-list [accordionList]="accordionList" (onButtonClick)="onClick($event)">
</app-accordion-list>

<mat-paginator class="my-4" style="background-color: transparent;" (page)="handlePageEvent($event)"
    [length]="itemList.length" [pageSize]="paginationConfig.pageSize"
    [pageSizeOptions]="paginationConfig.pageSizeOptions"
    [pageIndex]="pageEvent?.pageIndex ?? paginationConfig.pageNumber" aria-label="Select page">
</mat-paginator>