<main class="p-4 m-4 bg-gray-200 rounded-lg">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="flex lg:flex-row p-2 lg:p-4 justify-center items-start lg:items-stretch w-full">
                    <app-search-and-advanced-search-form [searchInput]="searchInputData" (onSearch)="onSearch($event)"></app-search-and-advanced-search-form>
                </div>
                <div class="flex justify-end mx-4 my-2">
                    <div class="mx-1 px-2">
                        <button (click)="isCreateNotice=true"
                            class="bg-indigo-600 py-3 px-6 w-full text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">Create
                            Notice</button>
                    </div>
                </div>
                <mat-card class="p-4 m-4" *ngIf="noticeList.content?.length == 0  || (noticeList.content?.length != 0 && (noticeList.content | noticeSearch:searchValue).length === 0)">
                    <div class="text-center">No notice found.</div>
                </mat-card>
                <app-notice-card *ngIf="isCreateNotice" [isEdit]="isCreateNotice" (onSubmit)="createNotice($event)"></app-notice-card>

                <app-notice-card *ngFor="let notice of noticeList.content| noticeSearch:searchValue" [notice]="notice" (onSubmit)="editNotice($event)"></app-notice-card>

                <mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent($event)"
                    [length]="itemLength$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    [pageIndex]="pageNumber" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
    <app-page-navigation-buttons [navigations]="navigations"
    ></app-page-navigation-buttons>
</main>