<div *ngFor="let view of detailed_views">
    <form [formGroup]="view.section_form!" *ngIf="!view.hide_section">
        <div class="py-4" *ngIf="!view.hide_section">
            <div class="bg-white p-3 shadow-lg rounded-sm">
                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8"
                    *ngIf="view.section_name">
                    <span class="text-green-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                        </svg>
                    </span>
                    <span class="tracking-wide">{{view.section_name}}</span>
                </div>
                <div class="my-2 py-2 space-y-2 text-gray-700" *ngIf="view.section_alerts?.length">
                    <ng-container *ngFor="let alert of view.section_alerts">
                        <app-alert *ngIf="!alert.hide_alert" [alertData]="alert.data"></app-alert>
                    </ng-container>
                </div>
                <div class="my-2 py-2 space-y-2 text-gray-700" *ngIf="view.form_alerts?.length && view.show_form">
                    <ng-container *ngFor="let alert of view.form_alerts">
                        <app-alert *ngIf="!alert.hide_alert" [alertData]="alert.data"></app-alert>
                    </ng-container>
                </div>
                <div class="text-gray-700 my-2 mx-4" *ngIf="view.section_type == 'key_value'">
                    <div class="grid md:grid-cols-2 text-sm">
                        <ng-container *ngFor="let field of view.content">
                            <!-- {{!field.hide_field}}{{field.hide_field}} -->
                            <div class="grid grid-cols-2" *ngIf="!field.hide_field">
                                <div class="px-2 py-2 font-semibold">{{field.field_name}}</div>
                                <div class="px-2 py-2" *ngIf="!(field.editable && view.show_form)"
                                    [innerHtml]="(
                                        field.show_display_value ? 
                                        displayValue(field.ref_data_section,field.field_value) : 
                                        (field.field_display_value != undefined ? field.field_display_value : field.field_value)) | replaceNull">
                                </div>

                                <div class="px-2 dense-3" *ngIf="field.editable && view.show_form">
                                    <app-universal-input [formControlName]="field.form_control_name!"
                                        [inputModel]="field.form_input!" />
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </div>
                <div *ngIf="view.section_type == 'accordion_list'">
                    <div class="flex justify-end p-2" *ngIf="view.accordion?.createBtn">
                        <mat-icon [ngClass]="{'disabledLink ' : false}"
                            (click)="view.accordion?.buttonClick?.emit({buttonId:'SHOW_CREATE',rowIndex:0})"
                            class="bg-purple-500 mx-2 mt-2">add</mat-icon>
                        <!-- <mat-form-field appearance="outline" class="dense-3">
                            <input type="text" matInput placeholder="Search here">
                        </mat-form-field> -->
                    </div>
                    <app-accordion-list [accordionList]="view.accordionList!"
                        (onButtonClick)="view.accordion?.buttonClick?.emit($event)"
                        (onAccordionOpen)="view.accordion?.accordionOpened?.emit($event)"></app-accordion-list>
                    <!-- <mat-paginator class="mt-4" style="background-color: transparent;" (page)="handlePageEvent(mem.member!,$event)" [length]="mem.total" [pageSize]="mem.size" [pageSizeOptions]="defaultValue.pageSizeOptions" [pageIndex]="mem.index" aria-label="Select page">
                    </mat-paginator> -->
                </div>
                <div *ngIf="view.section_type == 'doc_list'">
                    <app-file-upload *ngIf="view.show_form"
                        (files)="view.doc?.docChange?.emit($event)"></app-file-upload>
                    <app-document-list *ngIf="!view.show_form" [documents]="view.documents"
                        [showHeading]="false"></app-document-list>
                </div>
                <div *ngIf="view.section_type == 'editable_table'">
                    <app-editable-table-section [view]="view" [refData]="refData"></app-editable-table-section>
                </div>
                <div *ngIf="view.section_type == 'editable_list'">
                    <app-editable-list-section [view]="view" [refData]="refData"></app-editable-list-section>
                </div>
            </div>
        </div>
    </form>
</div>